{% extends "base.html" %} {% block body %}

<tr>
    <td align="left" style="padding: 118px 40px 71px">
        <img
            src="https://rug-stage-454343598698-media.s3.eu-west-2.amazonaws.com/email-media/Title+Graphics/Reset+Password+Success.png"
            alt="Reset"
            width="515"
        />
    </td>
</tr>
<tr>
    <td align="left" style="padding: 0 44px">
        <h2 style="color: #262626; font-size: 24px; font-weight: 400">
            Dear&nbsp;{{ username }}
        </h2>
        <br />
        <br />
        <p style="font-size: 24px; color: #262626">
            Your password was reset successfully. Please follow the link below
            to sign-in:
        </p>
        <br />
        <br />
        <p style="font-size: 24px">
            <a
                href="{{ signin_link }}"
                style="color: #9861ff; font-weight: 500"
                target="_blank"
            >
                {{ signin_link }}
            </a>
        </p>
        <br />
        <br />
    </td>
</tr>

{% endblock %} {% block regards %}
<tr>
    <td align="left" style="padding: 0 44px">
        <p style="font-size: 20px; margin: 0px 0px 72px">
            Kind regards,
            <br />
            The
            <a href="https://rug.ai" style="color: #9861ff">rug.ai</a>
            Team
        </p>
    </td>
</tr>
{% endblock %}
