{% extends "base.html" %} {% block body %}

<tr>
    <td align="center" height="240" style="padding: 61px 0 72px">
        <img
            src="https://rug-stage-454343598698-media.s3.eu-west-2.amazonaws.com/email-media/Title+Graphics/Invited.png"
            alt="Logo"
            width="470"
        />
    </td>
</tr>
<tr>
    <td align="center" style="">
        <h2
            style="
                color: #181a22;
                font-size: 35px;
                line-height: 48px;
                margin: 0px auto 25px;
            "
        >
            Hey
            <span style="font-weight: 600">{{ username }}!</span>
        </h2>
        <p style="font-size: 24px; color: #181a22; margin: 0px 95px 35px">
            You’ve received a referral invite!</span>
        </p>
        <hr
            style="
                border: 1px solid #646464;
                margin: 0 195px 42px;
                margin-left: 195px;
                margin-right: 195px;
            "
        />
        <p style="font-size: 45px; margin: 0px 50px 72px">
            <a
                href="{{ url }}"
                style="color: #9861ff; font-weight: 500"
                target="_blank"
            >
                {{ url }}
            </a>
        </p>
    </td>
</tr>

{% endblock %}
